<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
        {% for data in states.values() | sort(attribute='name') %}
            <LI>{{data.id}}: <B>{{data.name}}</B>
                <UL>
                    {% for city in data.cities | sort(attribute='name') %}
                    <LI>{{city.id}}: <B>{{city.name}}</B></LI>
                    {% endfor %}
                </UL>
            </LI>
        {% endfor %}
        </UL>
    </BODY>
</HTML>
